<%= render "layouts/page_title", title: t('.title') %>

<div class="mx-auto mt-10 max-w-6xl">
  <div class="overflow-hidden bg-white dark:bg-gray-700 shadow sm:rounded-lg">
    <div class="px-4 py-5 sm:px-6 border-b border-gray-200 dark:border-gray-600">
      <h1 class="font-bold text-4xl dark:text-slate-200"><%= t('.title') %></h1>
    </div>

    <%= render "form", config: @config, coach: @coach %>
  </div>

  <div class="mt-2">
    <%= link_to t('coaches.edit.back_to_coach'), edit_coach_path(@coach, locale: I18n.locale), class: "cursor-pointer mt-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium dark:bg-gray-700 dark:text-white" %>
    <div class="inline-block ml-2">
      <%= button_to t('configs.edit.destroy'), coach_config_path(@coach, @config, locale: I18n.locale), method: :delete, class: "cursor-pointer mt-2 rounded-lg py-3 px-5 text-white bg-red-600 font-medium dark:bg-red-500" %>
    </div>
  </div>
</div>
