<div id="<%= dom_id coach %>">
  <dl>
    <div class="border-t border-gray-200 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 dark:border-gray-600">
      <dt class="text-sm font-medium text-gray-900 dark:text-gray-400"><%= t('helpers.label.coach.name') %></dt>
      <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0 dark:text-white">
        <%= coach.name %>
      </dd>
    </div>

    <div class="border-t border-gray-200 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 dark:border-gray-600">
      <dt class="text-sm font-medium text-gray-900 dark:text-gray-400"><%= t('helpers.label.coach.permalink') %></dt>
      <dd class="mt-1 text-sm sm:col-span-2 sm:mt-0 text-blue-600 hover:text-blue-500 dark:text-blue-400">
        <%= link_to short_url(coach.id), short_url(coach.id, locale: I18n.locale), target: "_blank" %>
      </dd>
    </div>

    <div class="border-t border-gray-200 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 dark:border-gray-600">
      <dt class="text-sm font-medium text-gray-900 dark:text-gray-400"><%= t('helpers.label.coach.subscribe_urls') %></dt>
      <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0">
        <ul role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200 dark:border-gray-600">
          <% coach.subscribes.each do |subscribe| %>
          <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
            <div class="flex w-0 flex-1 items-center text-gray-900 dark:text-white">
              <span class="ml-2 w-0 flex-1 truncate"><%= subscribe.name %></span>
              <span class="ml-2 w-0 flex-1 truncate text-gray-400"> <%= time_ago_in_words(subscribe.created_at) %> ago</span>
            </div>
            <div class="ml-4 flex-shrink-0">
              <%= link_to t('coaches.show.view'), subscribe.link, target: "_blank", class: "font-medium text-indigo-600 text-blue-600 hover:text-blue-500 dark:text-blue-400"  %>
            </div>
          </li>
          <% end %>
        </ul>
      </dd>
    </div>

    <div class="border-t border-gray-200  px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 dark:border-gray-600">
      <dt class="text-sm font-medium text-gray-900 dark:text-gray-400"><%= t('helpers.label.coach.target') %></dt>
      <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0 dark:text-white">
        <%= target(coach.target) %>
      </dd>
    </div>

    <div class="border-t border-gray-200 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 dark:border-gray-600">
      <dt class="text-sm font-medium text-gray-900 dark:text-gray-400"><%= t('helpers.label.coach.configs') %></dt>
      <dd class="mt-1 text-sm sm:col-span-2 sm:mt-0 text-gray-900 dark:text-white">
        <% if coach.config.present? %>
          <p class="font-medium"><%= coach.config.name %><p>
          <p class="mt-1 text-sm text-blue-600 sm:col-span-2 sm:mt-0 break-all hover:text-blue-500 dark:text-blue-400">
            <%= link_to coach.config.link, coach.config.link %>
          <p>
        <% else %>
          <%= t('.blank') %>
        <% end %>
      </dd>
    </div>

    <div class="border-t border-gray-200 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 dark:border-gray-600">
      <dt class="text-sm font-medium text-gray-900 dark:text-gray-400"><%= t('helpers.label.coach.backends') %></dt>
      <dd class="mt-1 text-sm text-gray-900 sm:col-span-2 sm:mt-0 dark:text-white">
        <p class="font-medium"><%= coach.backend.name %> <%= coach.backend.version %><p>
        <p class="mt-1 text-sm sm:col-span-2 sm:mt-0 break-all text-blue-600 hover:text-blue-500 dark:text-blue-400">
          <%= link_to coach.backend.link, coach.backend.link %>
        <p>
      </dd>
    </div>

    <% if params[:preview] == 'true' %>
    <div class="border-t border-gray-200 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6 dark:border-gray-600">
      <dt class="text-sm font-medium text-gray-900 dark:text-gray-400"><%= t('helpers.label.coach.subconverter_url') %></dt>
      <dd class="mt-1 text-sm text-blue-600 hover:text-indigo-500 sm:col-span-2 sm:mt-0 break-all hover:text-blue-500 dark:text-blue-400">
        <%= link_to coach.subconverter_url, coach.subconverter_url %>
      </dd>
    </div>
    <% end %>
  </dl>
</div>
