<%= form_with(model: coach, url: coach_path(coach, locale: I18n.locale), class: "contents") do |form| %>
  <%= render "layouts/model_errors", model: coach %>

  <div class="sm:overflow-hidden sm:rounded-md md:gap-6">
    <dl>
      <div class="px-4 py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          <%= form.label :name %>
        </dt>
        <dd class="text-gray-900 sm:col-span-3 sm:mt-0">
          <%= form.text_field :name, placeholder: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-indigo-600 dark:focus:border-indigo-600" %>
        </dd>
      </div>

      <div class="border-t border-gray-200 dark:border-gray-600 px-4 py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          <%= form.label :description %>
        </dt>
        <dd class="text-gray-900 sm:col-span-3 sm:mt-0">
          <%= form.text_field :description, placeholder: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-indigo-600 dark:focus:border-indigo-600" %>
        </dd>
      </div>

      <div class="border-t border-gray-200 dark:border-gray-600 px-4 py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          <%= form.label :subscribe_urls %>
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-3 sm:mt-0">
          <% unless coach.subscribes.count.zero? %>
          <ul role="list" class="divide-y divide-gray-200 rounded-md border border-gray-200 dark:border-gray-600 dark:divide-gray-600">
            <% coach.subscribes.each do |subscribe| %>
            <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm dark:text-white">
              <div class="flex w-0 flex-1 items-center">
                <span class="ml-2 w-0 flex-1 truncate"><%= subscribe.name %></span>
              </div>
              <div class="ml-4 flex-shrink-0">
                <%= link_to t("coaches.edit.edit"), edit_coach_subscribe_path(coach, subscribe, locale: I18n.locale), class: "font-medium text-blue-600 hover:text-blue-500 dark:text-blue-400" %>
              </div>
            </li>
            <% end %>
          </ul>
          <% end %>

          <%= form.text_area :subscribe_urls, rows: 3, value: params.try(:[], :coach).try(:[], :subscribe_urls), placeholder: true,
              class: "mt-3 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </dd>
      </div>

      <div class="border-t border-gray-200 dark:border-gray-600 px-4 py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          <%= form.label :target %>
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-3 sm:mt-0">
          <%= form.select :target, all_targets, { include_blank: false }, { class: "border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-600 focus:border-indigo-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-indigo-600 dark:focus:border-indigo-600" } %>
        </dd>
      </div>

      <div class="border-t border-gray-200 dark:border-gray-600 px-4 py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          <%= form.label :configs %>
        </dt>

        <dd class="mt-1 text-sm text-gray-900 sm:col-span-3 sm:mt-0">
          <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-600 rounded-md border border-gray-200 dark:border-gray-600">
            <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
              <div class="flex w-0 flex-1 items-center">
                <input class="h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500" type="radio" checked="<%= coach.config.blank? %>" value="" name="coach[configs]" id="coach_configs_blank">
                <label class="ml-3 block text-sm font-medium text-gray-700 dark:text-white" for="coach_configs_blank">
                  <%= t("coaches.edit.blank_config") %>
                </label>
              </div>
            </li>

            <%= form.collection_radio_buttons :configs, coach.avaiable_configs, :id, :name do |r| %>
            <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
              <div class="flex w-0 flex-1 items-center">
                <%= r.radio_button(checked: r.value == coach.config&.id, class: "h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500") %>
                <%= r.label(class: "ml-3 block text-sm font-medium text-gray-700 dark:text-white") do %>
                  <%= r.text %>
                <% end %>
              </div>
              <div class="ml-4 flex-shrink-0">
                  <% if (config = Config.find(r.value)) && config.customer? %>
                    <%= link_to t("coaches.edit.edit"), edit_coach_config_path(coach, config, locale: I18n.locale), class: "font-medium text-blue-600 hover:text-blue-500 dark:text-blue-400" %>
                  <% end %>
                </div>
              </li>
            <% end %>
          </ul>

          <%= form.url_field :custom_config, placeholder: true, class: "mt-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </dd>
      </div>

      <div class="border-t border-gray-200 dark:border-gray-600 px-4 py-5 sm:grid sm:grid-cols-4 sm:gap-4 sm:px-6">
        <dt class="text-sm font-medium text-gray-500">
          <%= form.label :backends %>
        </dt>
        <dd class="mt-1 text-sm text-gray-900 sm:col-span-3 sm:mt-0">
          <ul role="list" class="divide-y divide-gray-200 dark:divide-gray-600 rounded-md border border-gray-200 dark:border-gray-600">
            <%= form.collection_radio_buttons :backends, coach.avaiable_backends, :id, :name_with_version do |r| %>
            <li class="flex items-center justify-between py-3 pl-3 pr-4 text-sm">
              <div class="flex w-0 flex-1 items-center">
                <%= r.radio_button(checked: r.value == coach.backend.id, class: "h-4 w-4 border-gray-300 text-indigo-600 focus:ring-indigo-500") %>
                <%= r.label(class: "ml-3 block text-sm font-medium text-gray-700 dark:text-white") do %>
                  <%= r.text %>
                <% end %>
              </div>
              <div class="ml-4 flex-shrink-0">
                <% if (backend = Backend.find(r.value)) && backend.customer? %>
                  <%= link_to t("coaches.edit.edit"), edit_coach_backend_path(coach, backend, locale: I18n.locale), class: "font-medium text-blue-600 hover:text-blue-500 dark:text-blue-400" %>
                <% end %>
              </div>
            </li>
            <% end %>
          </ul>

          <%= form.url_field :custom_backend, placeholder: true, class: "mt-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
        </dd>
      </div>
    </dl>
  </div>

  <div class="bg-gray-100 dark:bg-gray-700 dark:border-t dark:border-gray-600 mt-3 px-4 py-3 text-right sm:px-6">
    <%= link_to t("coaches.edit.cancel"), coach_path(coach, locale: I18n.locale), class: "cursor-pointer mt-2 mx-2 rounded-md py-2 px-4 px-5 bg-gray-100 inline-block font-medium hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2 dark:bg-gray-600 dark:text-white dark:hover:bg-gray-500" %>
    <%= form.submit class: "cursor-pointer inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-600 focus:ring-offset-2" %>
  </div>
<% end %>
