<%= form_with(model: coach, url: coaches_path(coach, locale: I18n.locale), class: "contents") do |form| %>
  <%= render "layouts/model_errors", model: coach %>

  <div class="sm:overflow-hidden md:gap-6">
    <div class="space-y-6 px-4 sm:px-6 sm:py-3">
      <div>
        <%= form.label :subscribe_urls, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400" %>
        <%= form.text_area :subscribe_urls, rows: 3, value: params.try(:[], :coach).try(:[], :subscribe_urls), placeholder: true, class: "border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
    </div>

    <div class="space-y-6 px-4 sm:px-6 sm:py-3">
      <div>
        <%= form.label :target, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400" %>
        <%= form.select :target, all_targets, { include_blank: false }, { class: "border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
      </div>
    </div>

    <div class="space-y-6 px-4 sm:px-6 sm:py-3">
      <div>
        <%= form.label :configs, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400" %>
        <%= form.collection_select :configs, system_configs, :id, :name, { prompt: true }, { class: "border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
        <%= form.url_field :custom_config, placeholder: true, class: "mt-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
    </div>

    <div class="space-y-6 px-4 sm:px-6 sm:py-3">
      <div>
        <%= form.label :backends, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400" %>
        <%= form.collection_select :backends, system_backends, :id, :name_with_version, { include_blank: false }, { class: "border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" } %>
        <%= form.url_field :custom_backend, placeholder: true, class: "mt-4 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
    </div>

    <div class="space-y-6 px-4 sm:px-6 sm:py-3">
      <div>
        <%= form.label :name, class: "block mb-2 text-sm font-medium text-gray-900 dark:text-gray-400" %>
        <%= form.text_field :name, placeholder: true, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>
    </div>

    <div class="bg-gray-100 dark:bg-gray-700 dark:border-t dark:border-gray-600 mt-6 px-4 py-3 text-right sm:px-6">
      <%= form.submit class: "cursor-pointer inline-flex justify-center rounded-md border border-transparent bg-indigo-600 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 dark:bg-indigo-900 dark:hover:bg-indigo-800" %>
    </div>
  </div>
<% end %>
